.container{
display: grid;
grid-template-columns: 16rem, 1fr, 16rem;
grid-template-rows: auto, 1fr, 1fr, auto;
grid-template-areas: 
    "header header header nav"
    "aside main main main"
    "footer footer footer footer"
}

:root {
--pad: 5rem;
}

header{
grid-area: header; 
padding:var(--pad);
background-color: aqua; 
}

nav{
grid-area: nav;
padding: var(--pad);
background-color: goldenrod;
}
/* this isn't doing anything
nav div ul li a{
list-style: none;
margin: 0;
display: inline-block;
justify-content: space-around;
}
*/
aside{
grid-area: aside;
padding: var(--pad);
background-color:aliceblue
}

main{
grid-area: main;
padding: var(--pad);
background-color:rgb(240, 44, 191)
}

footer{
grid-area: footer;
padding: var(--pad);
background-color:blue
}

/*fix numbers*/
@media (max-width:1024px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto minmax(5rem, auto) 1fr minmax(5rem, auto) auto;
        grid-template-areas: 
        "header"
        "nav"
        "aside"
        "main"
        "footer";

    }
}